@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #393939;
  --secondary-color: rgb(112, 167, 245);
  --bg-primary: white;
  --bg-secondary: #ffffff;
  --bg-tertiary: #393939;
  --bg-button-hover: rgb(8, 109, 249);
  --bg-hover: #dbdad4;
}
html {
  scroll-behavior: smooth;
}

.body {
  background-color: var(--bg-primary);
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
}
